<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>

    <php>
      <ini name="error_reporting" value="-1" />
      <server name="APP_ENV" value="test" force="true" />
      <server name="SHELL_VERBOSITY" value="-1" />
      <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
      <server name="SYMFONY_PHPUNIT_VERSION" value="9" />

      <server name="KERNEL_CLASS" value="App\Tests\App\AppKernel"/>z
      <server name="KERNEL_DIR" value="./Tests/App"/>
      <ini name="zend.enable_gc" value="0"/>
    </php>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>.github</directory>
      <directory>tests</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener"/>
  </listeners>
</phpunit>
